<div class="container-self">
  <div class="header">
    <%= image_tag 'settingsoff.png', class: 'nav-icon' %>
    <p class="header-title">History</p>
    <%= image_tag 'deleteoff.png', class: 'nav-icon' %>
  </div>
  <% if user_signed_in? %>


  <div class="cards">
    <% @histories.each do |history| %>
      <%= history.song.name %>
      <%= history.song.artist %>
      <%= history.share_count %>
      <br>
    <% end %>
  </div>
  <% else %>
  <p>Please log in to see your favorites.</p>
  <% end %>
</div>
