<div class="container-self">
  <!--   <div class="header">
    <%#= image_tag 'settingsoff.png', class: 'nav-icon-head' %>
    <p class="header-title">Global</p>
    <%#= image_tag 'deleteoff.png', class: 'nav-icon-head' %>
  </div> -->
  <div class="header">
    <div class="topbar">
      <% if user_signed_in? %>
        <%= image_tag @user.image_url, class: 'img_circle' rescue image_tag 'profile.jpg', class: 'img_circle'%>
        <div class="link">
          <div>Hello,
            <% if @user.full_name %>
              <%= @user.full_name %>
            <% else %>
              <%= @user.email %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div>
          Our Most Popular Mixxt!
        </div>
      <% end %>
    </div>
  </div>
  <div class="cards">
    <% @globals.each do |song| %>
      <div class="card-container">
        <%= image_tag song.song.cover_image_url, class: 'cover-image' rescue image_tag 'http://p1.music.126.net/6y-UleORITEDbvrOLV0Q8A==/5639395138885805.jpg', class: 'cover-image' %>
        <div class="card-container-infos">
          <h2><%= song.song.name %></h2>
          <p><%= song.song.artist %></p>
          <p>Shared <strong><%= song.share_count %></strong> times</p>
        </div>
        <button data-toggle="popover" data-container="body" data-placement="top" data-content="Copied to your clipboard" type="button" data-song_id="<%= song.song_id %>" class="btn-blue" >Share</button>
      </div>
    <% end %>
  </div>
</div>