<div class="container-self">
  <!--   <div class="header">
    <%#= image_tag 'settingsoff.png', class: 'nav-icon-head' %>
    <p class="header-title">Global</p>
    <%#= image_tag 'deleteoff.png', class: 'nav-icon-head' %>
  </div> -->
  <div class="header">
    <div class="topbar">
      <% if user_signed_in? %>
        <%= image_tag @user.image_url, class: 'img_circle' rescue image_tag 'profile.jpg', class: 'img_circle'%>
        <div class="link">
          <div>Hi
            <% if @user.first_name != '' || @user.last_name != '' %>
              <%= @user.full_name %>
            <% else %>
              <%= @user.email[/[^@]+/] %>
            <% end %>
          </div>
          <div>
            Global Shares
          </div>
        </div>
      <% else %>
        <div>
          Global Shares
        </div>
      <% end %>
    </div>
  </div>
  <div class="cards-top-three">
    <% @globals.each do |song| %>
      <div class="card-container-global" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= song.song.cover_image_url %>)" >
        <%#= image_tag song.song.cover_image_url, class: 'cover-image' rescue image_tag 'http://p1.music.126.net/6y-UleORITEDbvrOLV0Q8A==/5639395138885805.jpg', class: 'cover-image' %>
        <div class="card-container-infos-global">
          <h2 class="song-name"><%= song.song.name %></h2>
          <p class="artist"><%= song.song.artist %></p>
          <p class="share-count">Shared <strong><%= song.share_count %></strong> times</p>
        </div>
        <!-- <div class="share"> -->
        <button data-toggle="popover" data-container="body" data-placement="top" data-content="Copied to your clipboard" type="button" data-song_id="<%= song.song_id %>" class="btn-blue kill-all-design" >Share</button>
        <!-- </div> -->
      </div>
    <% end %>
  </div>
  <!-- <div class="cards">
    <% @globals[3..-1].each do |song| %>
      <div class="card-container">
        <%= image_tag song.song.cover_image_url, class: 'cover-image' rescue image_tag 'http://p1.music.126.net/6y-UleORITEDbvrOLV0Q8A==/5639395138885805.jpg', class: 'cover-image' %>
        <div class="card-container-infos">
          <h2><%= song.song.name %></h2>
          <p><%= song.song.artist %></p>
          <p>Shared <strong><%= song.share_count %></strong> times</p>
        </div>
        <button data-toggle="popover" data-container="body" data-placement="top" data-content="Copied to your clipboard" type="button" data-song_id="<%= song.song_id %>" class="btn-blue" >Share</button>
      </div>
    <% end %>
  </div> -->
</div>