<div class="container-self">
  <% if user_signed_in? %>
    <div class="header">
      <div class="topbar">
        <%= image_tag @user.image_url, class: 'img_circle' rescue image_tag 'profile.jpg', class: 'img_circle'%>
        <div class="link">
          <div>Hello,
            <% if @user.first_name != '' || @user.last_name != '' %>
              <%= @user.full_name %>
            <% else %>
              <%= @user.email[/[^@]+/] %>
            <% end %>
          </div>
          <div>
            Check Out Your Fav Mixxt!
          </div>
        </div>
      </div>
    </div>
    <div class="cards">
      <% @favorites.each do |favorites| %>
        <div class="card-container">
          <%= image_tag favorites.song.cover_image_url, class: 'cover-image' rescue image_tag 'http://p1.music.126.net/6y-UleORITEDbvrOLV0Q8A==/5639395138885805.jpg', class: 'cover-image' %>
          <div class="card-container-infos">
            <h2><%= favorites.song.name %></h2>
            <p><%= favorites.song.artist %></p>
            <p>Shared <strong><%= favorites.share_count %></strong> times </p>
          </div>
          <button data-toggle="popover" data-container="body" data-placement="top" data-content="Copied to your clipboard" type="button" data-song_id="<%= favorites.song_id %>" class="btn-blue" >Share</button>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="login-msg">Please <%= link_to 'log in', new_user_session_path, class: 'link-login' %> to see your favorites.</p>
  <% end %>
</div>