<div class="topbar">
  <div class="link">
    <%= link_to 'Log in' %>
  </div>
</div>
<div class="page-container">
  <div class="container-form">
    <!-- <form action="/songs" method="post"> -->
      <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
      <textarea name="link" id="link" placeholder="Please paste your link here"></textarea>

      <div class="disc-wave">
        <button value="Mixxt" class="glow-on-hover" id="mixxtbtn"></button>
        <%= image_tag "waves.png", id: 'waves'%>
        <%= image_tag "disc.png", id: 'disc' %>
      </div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-secondary" id="exampleModalLongTitle">Your link has been generated</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-muted" id="msg">
        not showing
         <%= @msg %>
         <%#= @song %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">I've got the link!</button>
      </div>
    </div>
  </div>
</div>
    <!-- </form> -->
<!--       <div class="carousel-item">
      <%#= image_tag @song.cover_image_url, class: 'cover-image' %>
      <div class="carousel-caption d-none d-md-block">
        <h2><%#= @song.name %></h2>
        <p><%#= @song.artist %></p>
        <p><%#= @song.updated_at.strftime("%m-%e-%y %H:%M") %></p>
      </div>
    </div> -->
  </div>
</div>
<%= javascript_pack_tag 'home', 'data-turbolinks-track': 'reload', defer: true %>



