<div class="container-self">
  <div class="header">
    <%= image_tag 'settingsoff.png', class: 'nav-icon-head' %>
    <p class="header-title">History</p>
    <%= image_tag 'deleteoff.png', class: 'nav-icon-head' %>
  </div>
  <div class="cards">
    <% @songs.each do |song| %>
      <div class="card-container col-lg-12">
        <%= image_tag song.cover_image_url, class: 'cover-image' %>
        <div class="card-container-infos">
          <h2><%= song.name %></h2>
          <p><%= song.artist %></p>
          <p><%= song.updated_at.strftime("%m-%e-%y %H:%M") %></p>
        </div>
        <form action="/songs" method="post">
          <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="link" id="link" value="<% song.song_details[0].url %>">
          <%#= song.name %> <%#= song.artist %> <%#= song.song_details[1].url %>
          <button class="btn-blue">Share</button>
        </form>
      </div>
    <% end %>
  </div>
  <div class="navbar">
    <%= link_to image_tag('mixoff.png', class: 'nav-icon'), root_path %>
    <%= image_tag 'historyoff.png', class: 'nav-icon current' %>
    <%= image_tag 'favoritesoff.png', class: 'nav-icon' %>
    <%= image_tag 'globaloff.png', class: 'nav-icon' %>
  </div>
</div>
<script>
  const header = document.querySelector('.header');
  let prevScrollPos = window.pageYOffset;

  window.addEventListener('scroll', () => {
    let currentScrollPos = window.pageYOffset;

    if (prevScrollPos < currentScrollPos) {
      header.classList.add('hide');
    } else {
      header.classList.remove('hide');
    }
    prevScrollPos = currentScrollPos;
  })
</script>

    <!-- <form action="/songs" method="post">
      <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
      <textarea name="link" id="link" placeholder="Please paste your link here"></textarea>

      <div class="disc-wave">
        <button value="Mixxt" type="submit" class="glow-on-hover" onclick="rotateAnimation('disc',1)" ></button>
      </div>
    </form> -->
