<div class="header">
  <div class="link">
    <%= link_to 'Log in' %>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="container-form">
    <form action="/songs" method="post">
      <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
      <textarea name="link" id="link" placeholder="Please paste your link here"></textarea>
      <input type="submit" value="Mixxt" id="mixxtbtn">
    </form>
  </div>
 </div>
    <%= image_tag "waves.jpeg", id: 'waves'%>
    <%= image_tag "disc.png", id: 'disc' %>

<div class="navbar">
  <%= image_tag "mixoff.png", class: 'nav-icon' %>
  <%= image_tag "historyoff.png", class: 'nav-icon' %>
  <%= image_tag "favoritesoff.png", class: 'nav-icon' %>
  <%= image_tag "globaloff.png", class: 'nav-icon' %>
</div>
