<div class="views_container shown home"><%= render "home" %></div>
<div class="views_container histories"><%= render "display_history" %></div>
<div class="views_container favorites"><%#= render "display_favorites" %></div>
<div class="views_container globals"> Tab 4</div>

<div class="navbar">
  <div class="nav-div"><%= image_tag "mixoff.png", class: 'nav-icon active', data: {view: 'home'} %></div>
  <div class="nav-div"><%= image_tag "historyoff.png", class: 'nav-icon', data: {view: 'histories'} %></div>
  <div class="nav-div"><%= image_tag "favoritesoff.png", class: 'nav-icon', data: {view: 'favorites'}  %></div>
  <div class="nav-div"><%= image_tag "globaloff.png", class: 'nav-icon', data: {view: 'globals'}  %></div>
</div>
