<div class="header">
  <div class="link">
    <%= link_to 'Log in' %>
  </div>
</div>
<div class="page-container">
  <div class="container-form">
    <form action="/songs" method="post">
      <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
      <textarea name="link" id="link" placeholder="Please paste your link here"></textarea>

      <div class="disc-wave">
        <button value="Mixxt" type="submit" class="glow-on-hover" onclick="rotateAnimation('disc',1)" ></button>
        <%= image_tag "waves.png", id: 'waves'%>
        <%= image_tag "disc.png", id: 'disc' %>
      </div>
    </form>
  </div>

</div>


<div class="navbar">
  <%= image_tag "mixoff.png", class: 'nav-icon' %>
  <%= image_tag "historyoff.png", class: 'nav-icon' %>
  <%= image_tag "favoritesoff.png", class: 'nav-icon' %>
  <%= image_tag "globaloff.png", class: 'nav-icon' %>
</div>

<script>
    // var looper;
    var degrees = 0;
    function rotateAnimation(el,speed) {
      var elem = document.getElementById(el);
      elem.style.zIndex = 10
      if(navigator.userAgent.match("Chrome")){
        elem.style.WebkitTransform = "rotate("+degrees+"deg)";
      } else if(navigator.userAgent.match("Firefox")){
        elem.style.MozTransform = "rotate("+degrees+"deg)";
      } else if(navigator.userAgent.match("MSIE")){
        elem.style.msTransform = "rotate("+degrees+"deg)";
      } else if(navigator.userAgent.match("Opera")){
        elem.style.OTransform = "rotate("+degrees+"deg)";
      } else {
        elem.style.transform = "rotate("+degrees+"deg)";
      }
      if (degrees < 360) {
        setTimeout('rotateAnimation(\''+el+'\','+speed+')',1)
        degrees+=1;
        document.querySelector('.glow-on-hover').style.opacity = 0.8
      } else {
        degrees = 0
        elem.style.zIndex = 0
        document.querySelector('.glow-on-hover').style.opacity = 0
        if(navigator.userAgent.match("Chrome")){
          elem.style.WebkitTransform = "rotate(0deg)";
        } else if(navigator.userAgent.match("Firefox")){
          elem.style.MozTransform = "rotate(0deg)";
        } else if(navigator.userAgent.match("MSIE")){
          elem.style.msTransform = "rotate(0deg)";
        } else if(navigator.userAgent.match("Opera")){
          elem.style.OTransform = "rotate(0deg)";
        } else {
          elem.style.transform = "rotate(0deg)";
        }
      }

      return degrees
    }
  </script>

